<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>164424770697-5vosir3g03cse2n543mantjvlse80c1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164424770697-5vosir3g03cse2n543mantjvlse80c1l</string>
	<key>API_KEY</key>
	<string>AIzaSyAJSvRvp0gvdkt_93n7gHUzXY9xKN_NYFc</string>
	<key>GCM_SENDER_ID</key>
	<string>164424770697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Northwest.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-6b003</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-6b003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:164424770697:ios:53d7e1373da2dcfc</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-6b003.firebaseio.com</string>
</dict>
</plist>